@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

//general Css
html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif !important;
}

h2 {
  font-size: 42px !important;
  font-weight: 700 !important;
  color: #333 !important;
  text-transform: uppercase !important;
}

.accent {
  margin-top: 20px;
  width: 50px;
  height: 6px;
  background-color: #ea8727;
}

.hr {
  position: relative;
  width: 100%;
  height: 10px;
  background: #ea8727;
}

// Header CSS

.logo {
  max-width: 274px;
}

header {
  padding: 17px 112px 17px 112px;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.hr.topHr {
  display: none;
  position: relative;
  width: 100%;
  height: 5px;
  background: #ea8727;
}

// Nav CSS

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 22px;
  color: #eb8827;

  .servicesDrop:hover + .hiddenList {
    display: block;
  }

  .hiddenList {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 5;
    list-style: none;
    top: 50px;
    text-align: center;
    left: 68%;
  }

  .hiddenList:hover {
    display: block;
  }

  :hover {
    color: #6d6f71;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #eb8827;
  }

  .active {
    color: #6d6f71;
  }
}

.icons {
  display: flex;
  flex: 1;
  column-gap: 22px;
}

i {
  cursor: pointer;
  font-size: 15px;
  font-weight: bold !important;
  color: #eb8827;

  :hover {
    color: #6d6f71;
  }
}

.material-symbols-outlined {
  font-size: 26px !important;
  font-weight: bold !important;
  color: #eb8827;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 48;
}

.hiddenSearch {
  display: none;
  align-items: center;
}

.searchBar {
  background: white;
  border: none;
  color: #eb8827;
  font-size: 22px;
}

.searchBar:hover {
  background: white;
  border: none;
}

.searchBar:focus {
  background: white;
  border: none;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #eb8827;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #eb8827;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #eb8827;
}

.material-symbols-outlined.hamburger {
  display: none;
  color: #666;
  cursor: pointer;
}

.hiddenMenu {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  z-index: 5;
  width: 100%;

  .list {
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
    transition: transform 250ms ease-in;

    a {
      width: 100%;
      padding: 11px;
      text-decoration: none;
      font-weight: bold;
      font-style: normal;
      font-size: 14px;
      text-transform: uppercase;
      color: #eb8827;
    }

    a:hover {
      background: rgb(229, 229, 229);
    }

    .active {
      color: #6d6f71;
    }
  }
  // display: none;
}

#page-container {
  width: 100%;
}

// Home CSS

// carousel CSS
.carousel {
  position: relative;
  min-height: 400px;
  width: 100%;
  margin: 0 auto;
}

.carousel__track-container {
  position: relative;
  background-color: #eb8827;
  height: 600px;
  overflow: hidden;
}

.carousel__track {
  position: relative;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

.carousel__slide-article {
  height: 100%;
  width: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel__info {
  color: white;
  position: absolute;
  z-index: 2;
  background: transparent;
  top: 226px;
  left: 112px;

  p {
    margin-bottom: 0;
    width: 100%;
  }

  .carousel__info-heading {
    width: 600px;
    height: 120px;
    color: white;
    font-size: 60px;
    font-weight: 750;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .carousel__info-accent {
      background: #ea8727;
      width: 8px;
      height: 104px;
      margin: 0;
      margin-right: 10px;
    }
  }

  .carousel__info-blurb {
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    white-space: normal;
    width: 600px;
    line-height: 22px;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 30px;
    overflow: hidden;
  }

  .carousel__info-link {
    padding: 15px 40px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    color: rgb(234, 135, 39);
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 15px;
    border-color: rgb(234, 135, 39);
    border-style: solid;
    border-width: 2px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: rgba(0, 0, 0, 0);
    transform-origin: 123.938px 27px;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-radius: 0px;
  }
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
  font-weight: bolder;
  background: rgba($color: #000000, $alpha: 0.4);
  color: white;
  border: 2px;
  cursor: pointer;
  z-index: 1;
}

.carousel__button.--right {
  left: calc(100% - 38px);
  z-index: 3;
}

.carousel__button.--left {
  left: 0;
  z-index: 3;
}

.carousel__nav {
  //   background: #eb8827;
  position: absolute;
  top: 98%;
  width: 100%;
  transform: translateY(-100%);
  display: flex;
  flex: 1;
  justify-content: center;
  column-gap: 7px;
  padding: 2px;
  z-index: 2;
}

.carousel__indicator {
  border: 3px solid #e5e5e5;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  padding: 0;
  box-sizing: content-box;
  background: -webkit-linear-gradient(top, #999999 0%, #e1e1e1 100%);
  background: -moz-linear-gradient(top, #999999 0%, #e1e1e1 100%);
  cursor: pointer;
}

.current-slide {
  z-index: 2;
}

.previous-slide {
  z-index: 1;
}

.carousel__indicator.current-slide {
  background: #666666;
}

//Blurb

.blurb {
  min-height: 690px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  max-width: 100%;
  margin: 0 !important;

  .blurb__info {
    background: white;
    z-index: 1;
    padding: 60px 0 0 0;

    .blurb__Heading {
      padding: 4% 8vw;
      h2 {
        font-size: 42px;
        font-weight: 700;
        color: #333;
      }
      .blurb__accent {
        margin-top: 20px;
        width: 50px;
        height: 6px;
        background-color: #ea8727;
      }
    }

    .blurb__content {
      padding: 0 8vw;

      nav {
        margin: 30px 0;

        :hover {
          background: #2a2a2a;
          color: white;
        }
      }
      .blurb__link {
        padding: 12px 10px 12px 30px;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        color: #2a2a2a;
        text-decoration: none;
        white-space: nowrap;
        text-align: left;
        line-height: 50px;
        letter-spacing: 3px;
        font-weight: 700;
        font-size: 14px;
        border-color: #2a2a2a;
        border-style: solid;
        border-width: 4px;
        background-color: rgba(0, 0, 0, 0);
        transform-origin: 123.938px 27px;

        i {
          color: white;
        }
      }
    }
  }

  .blurb__stats {
    flex-direction: row;
    flex-grow: 1;
    align-items: flex-end;

    div {
      flex-grow: 1;
      padding: 30px 0;
      height: 150px;
    }
    h1 {
      text-align: center;
      font-weight: 800;
    }
    p {
      text-align: center;
      font-size: 12px;
      font-weight: 700;
    }
  }
}

//key services
.key-services {
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    text-align: center;
    padding: 40px 0 10px 0;
    font-weight: 800;
  }

  .key-services__accent {
    margin-top: 20px;
    width: 50px;
    height: 6px;
    background-color: #ea8727;
  }

  .key-services__content {
    margin: 60px 20px 0 20px;
    width: 90%;
  }

  .key-services__content__articles {
    justify-content: center;
    width: 100%;
    margin-right: 0;

    article {
      align-items: center;
      flex-direction: column;
      row-gap: 2vh;

      img {
        width: 100%;
        object-fit: contain;
        box-shadow: -2px 31px 66px -30px rgba(0, 0, 0, 0.65);
        -webkit-box-shadow: -2px 31px 66px -30px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: -2px 31px 66px -30px rgba(0, 0, 0, 0.65);
      }

      .key-services__info__desc {
        padding: 35px;
        width: 100%;
        height: auto;
        border: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 15px;
        color: #666;
        line-height: 1.8rem;

        h1 {
          padding: 0;
          font-size: 16px;
          text-align: left;
        }

        nav {
          padding-top: 20px;
        }

        .key-services__info__link {
          text-decoration: none;
          border: 2px solid rgba(0, 0, 0, 0.12);
          padding: 3px 11px;
          font-size: 11px;
          color: #666;
          font-weight: 700;
          line-height: 1.7em;
          letter-spacing: 4px;

          i {
            color: #666;
          }
        }
      }
    }
  }

  nav {
    padding: 60px;
    display: flex;
    justify-content: center;
  }

  .key-services__link {
    text-decoration: none;
    border: 4px solid #2a2a2a;
    padding: 12px 30px;
    font-size: 14px;
    color: #2a2a2a;
    font-weight: 700;
    line-height: 1.7em;
    letter-spacing: 4px;
  }

  .key-services__link:hover {
    background: #2a2a2a;
    color: white;
  }
}

.Quote__link {
  text-decoration: none;
  border: 4px solid #ea8727;
  padding: 12px 30px;
  font-size: 14px;
  color: #ea8727;
  font-weight: 700;
  line-height: 1.7em;
  letter-spacing: 4px;
}

.companyImgs img {
  width: 100%;
  object-fit: cover;
}

//About Us Page

.about-header__article {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .col-md-8 {
    padding: 4% 8vw;
  }
  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }

  .about-header__accent {
    margin-top: 20px;
    width: 50px;
    height: 6px;
    background-color: #ea8727;
  }

  p {
    margin-top: 20px;
  }

  .blurb__link {
    padding: 12px 10px 12px 30px;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    color: #2a2a2a;
    text-decoration: none;
    white-space: nowrap;
    text-align: left;
    line-height: 50px;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 14px;
    border-color: #2a2a2a;
    border-style: solid;
    border-width: 4px;
    background-color: rgba(0, 0, 0, 0);
    transform-origin: 123.938px 27px;

    i {
      color: white;
    }
  }
}

.strategy {
  .strategy__heading {
    padding: 4% 8vw;
  }

  .startegy__heading-accent {
    margin-top: 20px;
    width: 50px;
    height: 6px;
    background-color: #ea8727;
  }

  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }

  .strategy-info {
    margin: 0 20px;

    article {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        width: 90%;
      }
      p {
        text-align: center;
      }
    }
  }

  p {
    margin-top: 20px;
  }
}

.valuesAndObjectives {
  padding: 4% 8vw;

  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }

  p {
    margin: 20px 10px;
  }
}

//services page

.services-heading {
  padding: 4% 8vw;

  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }

  p {
    margin-top: 30px;
  }
}

.services-banner {
  max-height: 300px;
  width: 100%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.service-Info {
  flex-direction: column;
  margin: 0 7vw;
  .row {
    padding: 0;
  }
  .col-lg-4 {
    padding: 18px;
    nav {
      box-shadow: -1px 1px 2px 2px #ea89278e;
      -webkit-box-shadow: -2px 2px 2px 2px #ea87278e;
      -moz-box-shadow: -1px 1px 4px 0px #ea87278e;
      border-radius: 5px;
      a {
        text-decoration: none;
        article {
          p {
            text-align: center;
            color: #333;
            font-size: 1.4vmax;
            font-weight: 800;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }
      img {
        border-radius: 5px 5px 0 0;
        width: 100%;
        max-height: 400px;
        object-fit: cover;
      }
      h2 {
        font-size: 22px;
        font-weight: 700;
        color: #333;
      }
      div {
        margin: 20px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        font-size: 15px;
        color: #666;
        line-height: 1.8rem;
        padding: 10px;
        height: 100%;
        min-height: 303px;
      }
    }
  }
}

//individual sevices pages
.sub__service-heading {
  padding: 4% 8vw !important;
}

.sub__services-banner {
  width: 100%;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

//contact us page
.contact-us-img {
  img {
    height: 100%;
    overflow: hidden;
  }
}

.contact-us {
  color: #ffffff;
  background: rgb(234, 135, 39);
  flex-direction: column;
  justify-content: space-between;

  .contact-us__content {
    margin: 4% 8vw;

    p {
      text-align: center;
      margin-top: 20px;
      font-size: 32px;
    }

    i {
      color: #ffffff;
      font-size: 32px;
      cursor: default;
    }
  }
  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
  }
}

.contact-form {
  margin: 4% 8vw;

  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #333;
  }

  form {
    margin-top: 20px;
    flex-direction: column;
    row-gap: 30px;
    align-items: flex-end;

    .contact-us__link {
      background: none;
      text-decoration: none;
      border: 4px solid #ea8727;
      padding: 10px 11px;
      font-size: 15px;
      color: #ea8727;
      font-weight: 700;
      line-height: 1.7em;
      letter-spacing: 4px;
      width: 30%;
      max-width: 170px;
    }
  }
}

//Search
.searchHeading {
  margin: 4% 8vw;
  h2 {
    color: #333;
  }
  button {
    background: #fff;
    font-size: 23px;
    font-weight: 800;
  }
}

.searchResults {
  color: #333;
  min-height: 520px;

  .card {
    a {
      text-decoration: none;
    }
    h2 {
      text-align: center;
    }
  }
}

//media queries

//mobile
@media only screen and (max-width: 980px) {
  .material-symbols-outlined.hamburger {
    display: inline-block;
  }

  .blurb__stats {
    flex-direction: column !important;
    justify-content: flex-end;

    div {
      width: 100%;
      height: auto !important;
      padding: 0 !important;
    }
  }

  .navigation a {
    display: none;
  }

  .hr.topHr {
    display: block;
  }

  .hiddenMenu {
    display: none;
  }

  .service-Info {
    p {
      font-size: 5vw !important;
    }
  }
}
